<div class="col-xs-3">
  <form>

    <div class="form-group">
      <label for="listName">List Name: </label>
      <input type="TEXT" name="list[title]" id="listName">
    </div>

    <button type="SUBMIT" class="btn btn-primary">Create List</button>

  </form>
</div>
