<div class="row">

  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
    <form>

      <div class="form-group">
        <label for="boardName">Board Title: </label>
        <input type="TEXT" name="board[title]" id="boardName">
      </div>

      <button type="SUBMIT" class="btn btn-primary">Create Board</button>

    </form>
  </div>
</div>
